@using PagedList;
@using PagedList.Mvc;

@model IPagedList<POTrackingV2.Models.SubcontDevUserRole>

@{
    ViewBag.Title = "List User Vendor";
}

@section styles {
    <link href="~/Content/um-style.css" rel="stylesheet" />
}

<div class="um">
    <h2 class="form-sub-header">
        List User Vendor
    </h2>
    <div class="filter-row">
        @using (Html.BeginForm("ViewSubcontDevUserRole", "SubcontDevUserRole", null, FormMethod.Get, new { @class = "filter-form-container form-inline" }))
        {
            <div class="form-group mr-4">
                <input name="search" type="text" class="form-control form-control-lg filter-search with-icon" placeholder="Search" value="@ViewBag.CurrentSearchString" />
                <i class="fas fa-search form-type-icon hint"></i>
            </div>

            <button type="submit" class="btn btn-info mr-3">Find</button>
            @Html.ActionLink("Clear", "ViewSubcontDevUserRole", new { role = Request.QueryString["role"] }, new { @class = "btn btn-info mr-3" })
        }
        <div class="form-group mt-4">
            @Html.ActionLink("Create New", "CreateSubcontDevUserRole", null, new { @class = "btn btn-info" })

        </div>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().IsHead)
            </th>

            <th></th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="12">No rows match search criteria</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr style="background-color:white;">
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsHead)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.VendorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>*@
                    <td>
                        <input type="text" value="@item.ID" class="hide" name="userRoleID" />
                        <span>
                            <a class="col-xs-2" href='@Url.Action("EditSubcontDevUserRole", "SubcontDevUserRole", new { ID = item.ID })' alt="Edit" style="color:green;">
                                <i class="fa fa-edit fa-lg"></i>
                            </a>
                        </span>
                        <span>
                            <a class="col-xs-2 deleteSubcontDevUserRole" href="#" alt="Details" style="color:red;">
                                <i class="fa fa-trash fa-lg"></i>
                            </a>
                        </span>
                    </td>
                </tr>
            }
        }

    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("ViewSubcontDevUserRole", new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] }),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            var userRoleID = 0;
            $(".deleteSubcontDevUserRole").click(function () {
                userRoleID = $(this).parent().prev().prev().val();
                if (confirm("Are you sure want to delete this user vendor?")) {
                    window.location.href = "@Url.Action("DeleteSubcontDevUserRole", "SubcontDevUserRole")?id=" + userRoleID;
                };
                return false;
            });
        });
    </script>
}
