
@using POTrackingV2.CustomAuthentication
@using POTrackingV2.Constants
@using POTrackingV2.Models

@{
    POTrackingEntities db = new POTrackingEntities();
    var myRole = (CustomMembershipUser)Membership.GetUser(User.Identity.Name, false);
    var roleType = db.UserRoleTypes.Where(x => x.Username == myRole.UserName).FirstOrDefault();

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)

</head>
<body>
    <div class="sidebar-container custom-scrollbar">
        <img class="corporate-logo" src="~/Images/logo-patria.png" alt="logo-patria" />
        <div class="user-info-container">
            @Html.Partial("_LoginPartial")
        </div>
        <nav>
            <ul class="main-menu list-unstyled">
                @if (myRole.Roles.ToLower() == LoginConstants.RoleAdministrator.ToLower() || myRole.Roles.ToLower() == LoginConstants.RoleProcurement.ToLower() || myRole.Roles.ToLower() == LoginConstants.RoleSubcontDev.ToLower())
                {
                    <li class="main-menu-item">
                        <a href="#" class="main-menu__link" data-menu="Performance Purchaser">
                            <i class="fas fa-shopping-cart"></i><span>Performance Purchaser</span>
                        </a>
                        <ul class="main-menu-submenu list-unstyled">
                            <li class="main-menu-submenu-item">
                                <a href="#" class="main-menu-submenu__link" data-menu="performance purchaser">Import</a>
                            </li>
                            <li class="main-menu-submenu-item">
                                <a href="#" class="main-menu-submenu__link" data-menu="performance purchaser">Local</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-menu-item">
                        <a href="#" class="main-menu__link" data-menu="Status Kedatangan Barang">
                            <i class="fas fa-chart-pie"></i> <span>Status Kedatangan Barang</span>
                        </a>
                        <ul class="main-menu-submenu list-unstyled">
                            <li class="main-menu-submenu-item">
                                <a href="#" class="main-menu-submenu__link" data-menu="performance purchaser">Import</a>
                            </li>
                            <li class="main-menu-submenu-item">
                                <a href="#" class="main-menu-submenu__link" data-menu="performance purchaser">Local</a>
                            </li>
                        </ul>
                    </li>
                    <li class="main-menu-item">
                        <a href="#" class="main-menu__link" data-menu="Performance Vendor">
                            <i class="fas fa-industry"></i> <span>Performance Vendor</span>
                        </a>
                        <ul class="main-menu-submenu list-unstyled">
                            <li class="main-menu-submenu-item">
                                <a href="#" class="main-menu-submenu__link" data-menu="performance purchaser">Import</a>
                            </li>
                            <li class="main-menu-submenu-item">
                                <a href="#" class="main-menu-submenu__link" data-menu="performance purchaser">Local</a>
                            </li>
                        </ul>
                    </li>
                }
                @if (myRole.Roles.ToLower() == LoginConstants.RoleAdministrator.ToLower() || myRole.Roles.ToLower() == LoginConstants.RoleProcurement.ToLower() || (myRole.Roles.ToLower() == LoginConstants.RoleVendor.ToLower() && roleType.RolesType.Name.ToLower() == "import"))
                {
                    <li class="main-menu-item">
                        <a href="~/Import/index" class="main-menu__link" data-menu="PO Import">
                            <i class="fas fa-plane"></i> <span>PO Import</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-yellow" title="ON Going" style="margin-right: 0px;">@ViewBag.ImportPOItemsCountOnGoing</small>
                                <small class="label pull-right bg-green mr-1" title="Confirmation">@ViewBag.ImportPOItemsCountNew</small>
                                <small class="label pull-right bg-red" title="Done">@ViewBag.ImportPOItemsDone</small>
                            </span>
                        </a>
                        <ul class="main-menu-submenu list-unstyled">
                            <li class="main-menu-submenu-item">
                                <a href="~/Import/index?searchPOStatus=ongoing" class="main-menu-submenu__link" data-menu="On Going">
                                    <span>On Going</span>
                                    <span class="pull-right-container">
                                        <small class="label pull-right bg-green mr-1" title="Confirmation">@ViewBag.ImportPOItemsCountOnGoing</small>
                                    </span>
                                </a>
                            </li>
                            <li class="main-menu-submenu-item">
                                <a href="~/Import/index?searchPOStatus=newpo" class="main-menu-submenu__link" data-menu="Outstanding">
                                    <span>New PO</span><span class="pull-right-container">
                                        <small class="label pull-right bg-yellow mr-1" title="Confirmation">@ViewBag.ImportPOItemsCountNew</small>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                @if (myRole.Roles.ToLower() == LoginConstants.RoleAdministrator.ToLower() || myRole.Roles.ToLower() == LoginConstants.RoleProcurement.ToLower() || (myRole.Roles.ToLower() == LoginConstants.RoleVendor.ToLower() && roleType.RolesType.Name.ToLower() == "local"))
                {
                    <li class="main-menu-item">
                        <a href="~/Local/index" class="main-menu__link" data-menu="PO Lokal">
                            <i class="fas fa-truck" style="transform: scaleX(-1);"></i> <span>PO Local</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-yellow" title="ON Going" style="margin-right: 0px;">5</small>
                                <small class="label pull-right bg-green mr-1" title="Confirmation">16</small>
                                <small class="label pull-right bg-red" title="Done">12</small>
                            </span>
                        </a>
                        <ul class="main-menu-submenu list-unstyled">
                            <li class="main-menu-submenu-item">
                                <a href="#" class="main-menu-submenu__link" data-menu="On Going">
                                    <span>On Going</span>
                                    <span class="pull-right-container">
                                         <small class="label pull-right bg-green mr-1" title="Confirmation">16</small>
                                    </span>
                                </a>
                            </li>
                            <li class="main-menu-submenu-item">
                                <a href="#" class="main-menu-submenu__link" data-menu="Outstanding">
                                    <span>Outstanding</span><span class="pull-right-container">
                                        <small class="label pull-right bg-yellow mr-1" title="Confirmation">16</small>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                @if (myRole.Roles.ToLower() == LoginConstants.RoleAdministrator.ToLower() || myRole.Roles.ToLower() == LoginConstants.RoleSubcontDev.ToLower() || (myRole.Roles.ToLower() == LoginConstants.RoleVendor.ToLower() && roleType.RolesType.Name.ToLower() == "subcont"))
                {
                    <li class="main-menu-item">
                        <a href="~/SubCont/index" class="main-menu__link" data-menu="Subcontract">
                            <i class="fas fa-cogs"></i> <span>Subcontract</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-yellow" title="ON Going" style="margin-right: 0px;">5</small>
                                <small class="label pull-right bg-green mr-1" title="Confirmation">16</small>
                                <small class="label pull-right bg-red" title="Done">12</small>
                            </span>
                        </a>
                        <ul class="main-menu-submenu list-unstyled">
                            <li class="main-menu-submenu-item">
                                <a href="~/SubCont/index" class="main-menu-submenu__link" data-menu="On Going">
                                    <span>On Going</span>
                                    <span class="pull-right-container">
                                        <small id="subcont-ongoing__count" class="label pull-right bg-green mr-1" title="Confirmation">16</small>
                                    </span>
                                </a>
                            </li>
                            <li class="main-menu-submenu-item">
                                <a href="~/SubCont/outstanding" class="main-menu-submenu__link" data-menu="Outstanding">
                                    <span>Outstanding</span><span class="pull-right-container">
                                        <small id="subcont-outgoing__count" class="label pull-right bg-yellow mr-1" title="Confirmation">16</small>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                @if (myRole.Roles.ToLower() == LoginConstants.RoleAdministrator.ToLower())
                {
                    <li class="main-menu-item">
                        <a href="#" class="main-menu__link">
                            <i class="fas fa-paperclip"></i> <span>Master Data</span>
                        </a>
                        <ul class="main-menu-submenu list-unstyled">
                            <li class="main-menu-submenu-item">
                                <a href="~/MasterVendor/Index" class="main-menu-submenu__link" data-menu="Mastervendor">Vendor</a>
                            </li>
                            <li class="main-menu-submenu-item">
                                <a href="~/ReasonSubCont/Index" class="main-menu-submenu__link" data-menu="Mastervendor">Reason SubCont</a>
                            </li>
                            <li class="main-menu-submenu-item">
                                <a href="~/DelayReason/Index" class="main-menu-submenu__link" data-menu="Mastervendor">Delay Reason</a>
                            </li>
                            <li class="main-menu-submenu-item">
                                <a href="~/MasterVendor/ViewUserVendor" class="main-menu-submenu__link" data-menu="Mastervendor">User Vendor</a>
                            </li>
                            <li class="main-menu-submenu-item">
                                <a href="~/UserProcurement/index" class="main-menu-submenu__link" data-menu="Mastervendor">User Procurement Superiority</a>
                            </li>
                            <li class="main-menu-submenu-item">
                                <a href="~/MasterVendor/ViewVendorSubcontDev" class="main-menu-submenu__link" data-menu="Mastervendor">SubcontDev Vendor</a>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </nav>
    </div>
    <div id="notificationContainer" class="notification-container custom-scrollbar not-show">
        <div class="notification-header">
            <i class="far fa-bell"></i>
            <p class="notification__title">Notifications</p>
            <img class="notification__close" src="~/Images/close.png" alt="close-icon" onclick="toggleNotification()" />
        </div>
        <ul class="list-unstyled notification-list">
            @*<li class="notification-list-item">
                    <i class="fas fa-check-circle approved"></i>
                    <div class="notification-message-container">
                        <p class="mb-1">
                            Purchaser has accepted the delay of the
                            production for item ENGINE KUBOTA Z482-E2B
                            1500R E-GOV UT FA from <a href="#" class="third-text">PO 4720047467</a>
                        </p>
                        <p class="secondary-text mb-0">4h ago</p>
                    </div>
                </li>
                <li class="notification-list-item">
                    <i class="fas fa-exclamation-circle important"></i>
                    <div class="notification-message-container">
                        <p class="mb-1">
                            Purchaser asked to upload Performa Invoice
                            for item LOREM IPSUM D392-R2C 800R from
                            <a href="#" class="third-text">PO 4720047580</a>
                        </p>
                        <p class="secondary-text mb-0">Yesterday</p>
                    </div>
                </li>
                <li class="notification-list-item">
                    <i class="fas fa-check-circle approved"></i>
                    <div class="notification-message-container">
                        <p class="mb-1">
                            Purchaser chose DP as the term of payment for
                            item LOREM IPSUM D392-R2C 800R from
                            <a href="#" class="third-text">PO 4720047580</a>
                        </p>
                        <p class="secondary-text mb-0">Sep 14</p>
                    </div>
                </li>
                <li class="notification-list-item">
                    <i class="fas fa-times-circle rejected"></i>
                    <div class="notification-message-container">
                        <p class="mb-1">
                            Purchaser has cancelled item EPDM RUBBER
                            4503 from
                            <a href="#" class="third-text">PO 472004747</a>
                        </p>
                        <p class="secondary-text mb-0">Aug 27</p>
                    </div>
                </li>
                <li class="notification-list-item">
                    <i class="fas fa-check-circle approved"></i>
                    <div class="notification-message-container">
                        <p class="mb-1">
                            Purchaser has approved item ENGINE KUBOTA
                            Z482-E2B 1500R E-GOV UT FA from <a href="#" class="third-text">PO 4720047467</a> for Qty: 2
                        </p>
                        <p class="secondary-text mb-0">Jul 18</p>
                    </div>
                </li>
                <li class="notification-list-item">
                    <i class="fas fa-check-circle approved"></i>
                    <div class="notification-message-container">
                        <p class="mb-1">
                            Purchaser has confirmed GR on 18/12/2018 for item
                            ENGINE KUBOTA Z482-E2B 1500R E-GOV UT
                            FA from <a href="#" class="third-text">PO 4720047386</a> for Qty: 3 (10/10)
                        </p>
                        <p class="secondary-text mb-0">Jul 4</p>
                    </div>
                </li>
                <li class="notification-list-item">
                    <i class="fas fa-exclamation-circle important"></i>
                    <div class="notification-message-container">
                        <p class="mb-1">
                            Purchaser has confirmed GR on 11/12/2018 for item
                            ENGINE KUBOTA Z482-E2B 1500R E-GOV UT
                            FA from <a href="#" class="third-text">PO 4720047386</a> for Qty: 7 (7/10)
                        </p>
                        <p class="secondary-text mb-0">Jun 30</p>
                    </div>
                </li>*@
        </ul>
        @*<a href="#" class="notification-see-all third-text">See All</a>*@
    </div>
    <div class="main-container custom-scrollbar">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("notification", required: false)
    @Html.Partial("_NotificationList", myRole.Roles)
</body>
</html>
