@model IEnumerable<POTrackingV2.Models.SequencesProgressReason>

@{
    ViewBag.Title = "Index";
}

@section styles {
    <link href="~/Content/um-style.css" rel="stylesheet" />
}

<div class="um">
    <h1>Sequence Progress Reason</h1>
    <div class="filter-row  mt-0">
        <div class="form-group mr-4" style="visibility:hidden;">
            <input name="search" type="text" class="form-control form-control-lg filter-search with-icon" placeholder="Search" />
            <i class="fas fa-search form-type-icon hint"></i>
        </div>
        <select id="searchBy" name="searchBy" class="form-control form-control-lg mr-4" style="visibility:hidden;" value="@ViewBag.CurrentSearchFilterBy">
            <option value="vendorCode">Vendor Code</option>
            <option value="description">Description</option>
        </select>
        <button type="submit" class="btn btn-info mr-3" style="visibility:hidden;">Find</button>
        <div class="form-group mt-4">
            <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#createModal"><a href="#" style="color:white;">Create New</a></button>
        </div>
    </div>
    <table class="table table-bordered">
        <tr style="background-color:#17A2B8;color:white;">
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr style="background-color:white;">
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <span>
                        <a class="col-xs-2" href="@Url.Action("Details", "DelayReason", new { id = item.ID })" alt="Details">
                            <i class="fa fa-info-circle fa-lg"></i>
                        </a>
                    </span>
                    <span>
                        <button class="col-xs-2 special" href="@Url.Action("Delete", "DelayReason", new { id = item.ID })" data-id="@item.ID" id="btn-edit">
                            <i class="fa fa-edit fa-lg"></i>
                        </button>
                    </span>
                    <span>
                        <button class="col-xs-2 special" href="@Url.Action("Delete", "DelayReason", new { id = item.ID })" data-toggle="modal" data-target="#deleteModal" style="color:orangered;">
                            <i class="fa fa-trash fa-lg"></i>
                        </button>
                    </span>
                </td>
            </tr>
        }

    </table>


    @* Create Modal *@
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @using (Html.BeginForm("Create", "ReasonSubCont", FormMethod.Post, new { @id = "Form-Create" }))
                {
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create New Item</h5>
                        <button id="close-sequence" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <label for="name" class="col-md-3 mr-3"> Name  </label>
                            <input type="text" class="col-md-8" name="name" id="name"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="item-CreateSubCount">
                        <button id="btnCreateSubCount" type="submit" class="btn btn-positive w-100">Create</button>
                    </div>
                }
            </div>
        </div>
    </div>
    @* Create Modal *@

    @* Edit Modal *@
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Item</h5>
                    <button id="close-sequence" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label for="name" class="col-md-3 mr-3"> Name  </label>
                        <input type="text" class="col-md-8" />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="item-EditSubCount">
                    <button id="" type="button" class="btn btn-positive w-100" style="visibility:hidden;">Edit</button>
                    <button id="btnEditSubCount" type="button" class="btn btn-positive w-100">Update</button>
                </div>
            </div>
        </div>
    </div>
    @* Edit Modal *@

    @* Delete Modal *@
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                    <button id="close-sequence" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are You Sure To Delete This Item?
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="item-deleteSubCount">
                    <button id="" type="button" class="btn btn-positive w-100" style="visibility:hidden;">Edit</button>
                    <button id="btnDeleteSubCount" type="button" class="btn btn-positive w-100">Delete</button>
                </div>
            </div>
        </div>
    </div>
    @* Delete Modal *@
</div>

@section scripts {
    <script>
        $('#Form-Create').submit(function (e) {
            e.preventDefault();
            var form = $(this).serializeArray();
            console.log(form)

            $.ajax({
                type: "POST",
                url: "@Url.Action("/Create", "ReasonSubCont")",
                data: form,
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                success: function (response) {
                    console.log(response)
                    // location.reload();
                },
                error: function (error) {
                    console.error(error)
                }
            })
        });

        $('table tbody').on('click', 'tr td button#btn-edit', function (event) {
            var id = $(this).data('id');
            $.ajax({
                type: "GET",
                url: "@Url.Action("getByID", "ReasonSubCont")/" + id,
                contentType: 'application/json; charset=uft-8',
                datatype : "json",
                success: function (response) {
                    console.log(response);
                    alert(response);
                    $('#editModal').modal('show');
                },
                error: function (error) {
                    console.error(error)
                }
            })
        })

        $('table tbody').on('click', 'tr td button#btn-delete', function (event) {
            var id = $(this).data('id');
            $.ajax({
                type: "GET",
                url: "ReasonSubCont/Delete/"+id,
                success: function (response) {
                    console.log(response)
                },
                error: function (error) {
                    console.error(error)
                }
            })
        })
    </script>    
}