<input id="txtMessage" hidden type="text" value="@ViewBag.Message" />
<input id="txtAccessToken" hidden type="text" value="@ViewBag.Token" />
<input id="txtReportID" hidden type="text" value="@ViewBag.ReportID" />
<input id="txtReportURL" hidden type="text" value="@ViewBag.ReportURL" />
<input id="txtReportSection" hidden type="text" value="@ViewBag.ReportURL" />
<div class="reportContainer iframeContainer active" id="embedContainer" style="visibility: visible; height: 100%;"><iframe id="IframeID" src="@ViewBag.ReportURL" scrolling="no" allowfullscreen="true" style="width: 100%; height: 100%;"></iframe></div>

<script src="https://microsoft.github.io/PowerBI-JavaScript/demo/node_modules/jquery/dist/jquery.js"></script>
<script src="https://microsoft.github.io/PowerBI-JavaScript/demo/node_modules/es6-promise/dist/es6-promise.js"></script>
<script src="https://microsoft.github.io/PowerBI-JavaScript/demo/node_modules/powerbi-client/dist/powerbi.js"></script>
<script src="https://microsoft.github.io/PowerBI-JavaScript/demo/node_modules/powerbi-report-authoring/dist/powerbi-report-authoring.js"></script>

<script type="text/javascript">
    
    var txtAccessToken = $('#txtAccessToken').val();
    var txtReportID = $('#txtReportID').val();
    var txtReportURL = $('#txtReportURL').val();
    var txtReportSection = $('#txtReportSection').val();
    var txtEmbedUrl = txtReportURL;
    var txtEmbedReportId = txtReportID;
    var tokenType = "0";
    var models = window['powerbi-client'].models;
    var permissions = models.Permissions.All;

    // Embed configuration used to describe the what and how to embed.
    // This object is used when calling powerbi.embed.
    // This also includes settings and options such as filters.
    // You can find more information at https://github.com/Microsoft/PowerBI-JavaScript/wiki/Embed-Configuration-Details.
    var config = {
        type: 'report',
        tokenType: tokenType == '0' ? models.TokenType.Aad : models.TokenType.Embed,
        accessToken: txtAccessToken,
        embedUrl: txtEmbedUrl,
        id: txtEmbedReportId,
        permissions: permissions,
        settings: {
            filterPaneEnabled: false,
            navContentPaneEnabled: false,
        }
    };

    // Get a reference to the embedded report HTML element
    var embedContainer = $('#embedContainer')[0];

    // Embed the report and display it within the div container.
    var report = powerbi.embed(embedContainer, config);

    // Report.off removes a given event handler if it exists.
    report.off("loaded");

    // Report.on will add an event handler which prints to Log window.
    report.on("loaded", function () {
        //Log.logText("Loaded");
        console.log("Loaded");
    });

    // Report.off removes a given event handler if it exists.
    report.off("rendered");

    // Report.on will add an event handler which prints to Log window.
    report.on("rendered", function () {
        //Log.logText("Rendered");
        console.log("Rendered");
    });

    report.on("error", function (event) {
        //Log.log(event.detail);
        console.log(event.detail);

        report.off("error");
    });

    report.off("saved");
    report.on("saved", function (event) {
        Log.log(event.detail);
        if (event.detail.saveAs) {
            Log.logText('In order to interact with the new report, create a new token and load the new report');
        }
    });
    
    
</script>