@model POTrackingV2.ViewModels.UserProcurementViewModelCreate

@{
    ViewBag.Title = "Create";
}

@section styles{
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet"/>
    <link href="~/Content/semantic.min.css" rel="stylesheet"/>
}

<h2>Create new User Procurement Superior</h2>

<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <p class="form-custom-label">Procurement Superior User</p>
        @Html.DropDownList("SuperiorUser_Username", Model.SuperiorUsernames, "Select", htmlAttributes: new { @class = "form-control full-width chosen" })
    </div>
    <div class="form-group">
        <p class="form-custom-label">Select Inferior User</p>
        <div class="inline field">
            <select name="InferiorUser_Username" id="InferiorUser_Username" multiple class="label ui selection fluid search dropdown">
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" id="buttonCreate" name="buttonCreate" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $('#SuperiorUser_Username').change(function () {
            $("#InferiorUser_Username").find('option').remove().end();

            $("a.ui.label.transition.visible").remove();

            var username = $('#SuperiorUser_Username :selected').val();
            var data = {
                username: username
            };

            if (username != null && username != '') {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("PopulateUser", "UserProcurement")",
                    context: this,
                    data: data,
                    success: function (response) {
                        if (response.selectListusers != null && !jQuery.isEmptyObject(response.selectListusers)) {
                            var count = response.selectListusers.length;
                            $.each(response.selectListusers, function (i, item) {
                                $("#InferiorUser_Username").append($("<option />").val(this.Value).text(this.Text));
                            });
                        }
                    }
                });
            }
        });

        $('#buttonCreate').click(function () {
            var username = $('#SuperiorUser_Username :selected').val();

            var inferiorUsernames = [];
            $("#InferiorUser_Username :selected").each(function (i, selected) {
                inferiorUsernames[i] = $(selected).val();
            });

            var data = {
                username: username,
                inferiorUsernames: inferiorUsernames
            };

            if (data.username !== "" || data.username !== null) {
                if (data.inferiorUsernames.length > 0) {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("CreateSuperiorUser", "UserProcurement")",
                        context: this,
                        data: data,
                        success: function (response) {
                            window.location.href = "@Url.Action("Index", "UserProcurement")";
                        },
                        error: function (xhr, status, error) {
                            alert(xhr.status + " : " + error);
                        }
                    });
                }
                else {
                alert("Please Choose Inferior User");
                }
            }
            else {
                alert("Please Choose Superior User");
            }
        });

    </script>

    <script src="~/Scripts/semantic.min.js"></script>
    <script src="~/Scripts/create-multiple.js"></script>
}
