@using PagedList;
@using PagedList.Mvc;
@model IPagedList<POTrackingV2.Models.UserProcurementSuperior>

@{
    ViewBag.Title = "Index";
    int number = 1;
}

<h2>User Procurement Superior</h2>

<div class="filter-row">
    @using (Html.BeginForm("Index", "UserProcurement", null, FormMethod.Get, new { @class = "filter-form-container form-inline" }))
    {
        <div class="form-group mr-4">
            <input id="searchUser" name="searchUser" type="text" class="form-control form-control-lg filter-search with-icon" placeholder="Search User" autocomplete="off" value="@ViewBag.CurrentSearchUser" />
        </div>
        <button type="submit" class="btn btn-info mr-3">Find</button>
        @Html.ActionLink("Clear", "Index", null, new { @class = "btn btn-info mr-3" })
    }
    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <div class="form-group mt-4">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-info" })
    </div>
</div>

<table class="table table-striped table-bordered">
    <tr>
        <th>
            Number
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().NRP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Email)
        </th>
        <th></th>
    </tr>

    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr style="background-color:white;">
                <td>
                    @number
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NRP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="edit-action">
                    @*@Html.ActionLink("Details", "Details", new { id = item.ID }) |*@
                    <a class="col-xs-2" href="@Url.Action("Details", "UserProcurement", new { id = item.ID })" alt="Details">
                        <i class="fa fa-info-circle fa-lg"></i>
                    </a>
                    <input type="text" value="@item.ID" class="userProcurementSuperiorID" name="userProcurementSuperiorID" hidden />
                    @*<button class="btn btn-danger btn-sm delete-superiorUser" role="button" data-toggle="tooltip" data-placement="top" title="Delete">Delete</button>*@
                    <a class="col-xs-2 delete-superiorUser" href="#" alt="Delete" style="color:red;">
                        <i class="fa fa-trash fa-lg"></i>
                    </a>
                </td>
            </tr>

            number++;
        }
    }
    else
    {
        <tr>
            <td>
                No Data
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] }),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(".delete-superiorUser").click(function () {
            var userSuperiorID = $(this).closest("td.edit-action").find("input.userProcurementSuperiorID").val();

            var data = {
                userSuperiorID: userSuperiorID
            };

            if (data.userSuperiorID !== "" || data.userSuperiorID !== null) {
                if (confirm("Are you sure want to delete this user?")) {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("DeleteSuperiorUser", "UserProcurement")",
                        context: this,
                        data: data,
                        success: function (response) {
                            location.reload(true);
                        },
                        error: function (xhr, status, error) {
                            alert(xhr.status + " : " + error);
                        }
                    });
                };
            }
            else {
                alert("Something went wrong !");
            }
        });
    </script>
}