@model POTrackingV2.Models.LoginView
@{
    ViewBag.Title = "Login | Patria System";
    Layout = null;

    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Internal",
        Value = "1",
    });
    listItems.Add(new SelectListItem
    {
        Text = "External",
        Value = "2"
    });
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/stylesLogin.css" rel="stylesheet" />
    <title>Login | Patria System</title>
</head>
<body>
    <div class="bg-image" style="background-image: url('@Url.Content("~/Images/login-background.jpg")');">
        <div class="login-conatainer">
            @using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <form action="/utpe-patria/" method="post">
                    <input name="__RequestVerificationToken" type="hidden" value="1F_VZ9gQnAVhieDi9pRV76_uVf3XE5VhXpXcY18B9YQD0ohm7yhjZ_wMnMxrMp-Lqc0UuuFoAEo4Q-nNHg7H3UY-U18IC5JPi13BwDBtUrY1">
                    <div class="form-container">
                        <img src="~/Images/patria-logo-login.png" class="login-logo mb-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.UserName)
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group password-input">
                            <div class="pass-container">
                                @Html.LabelFor(model => model.Password)
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                                <i class="show-hide-password" data-feather="eye" onclick="showHidePassword()"></i>
                            </div>
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <br>
                        <button class="login-button btn" type="submit">Login</button>
                        @*<hr style="border-color:white;">
                        <button class="login-button btn" type="button" onclick="location.href='@Url.Action("LoginInternal", "Account")'">Internal Login</button>*@
                    </div>
                </form>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            }
            <input type="hidden" class="exception">
        </div>
        <p class="footer-text">PATRIA © 2019 . All rights reserved</p>
    </div>
</body>
</html>

<script src="~/Scripts/feather-4.7.3.min.js"></script>
<script type="text/javascript">
    feather.replace();
    function showHidePassword() {
        var x = document.getElementById("Password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
