@model POTrackingV2.Models.SubcontComponentCapability

@{
    ViewBag.Title = "Details Master";
}


@section styles {
    <link href="~/Content/um-style.css" rel="stylesheet" />
}
<div class="um">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Vendor Management</li>
            <li class="breadcrumb-item"><a href="@Url.Action("", "MasterVendor")"">Vendor</a></li>
            <li class="breadcrumb-item active" aria-current="page">Vendor Details</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-xl-9 col-12">
            <div class="card shadow">
                <div class="card-header">
                    Vendor Details
                </div>
                <div class="view-data-container">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            @Html.LabelFor(model => model.DailyLeadTime, htmlAttributes: new { @class = "view-data__label form-custom-label" })
                            <p class="view-data__content">@Html.DisplayFor(model => model.DailyLeadTime)</p>
                        </div>
                        <div class="col-md-6 col-12">
                            <label class="view-data__label form-custom-label">@Html.DisplayNameFor(model => model.MonthlyLeadTime)</label>
                            <p class="view-data__content"> @Html.DisplayFor(model => model.MonthlyLeadTime)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <label class="view-data__label form-custom-label">@Html.DisplayNameFor(model => model.PB)</label>
                            <p class="view-data__content"> @Html.DisplayFor(model => model.PB)</p>
                        </div>
                        <div class="col-md-6 col-12">
                            <label class="view-data__label form-custom-label"> @Html.DisplayNameFor(model => model.Setting)</label>
                            <p class="view-data__content"> @Html.DisplayFor(model => model.Setting)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <label class="view-data__label form-custom-label">@Html.DisplayNameFor(model => model.Fullweld)</label>
                            <p class="view-data__content">@Html.DisplayFor(model => model.Fullweld)</p>
                        </div>

                        <div class="col-md-6 col-12">
                            <label class="view-data__label form-custom-label">@Html.DisplayNameFor(model => model.Primer)</label>
                            <p class="view-data__content"> @Html.DisplayFor(model => model.Primer)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <label class="view-data__label form-custom-label">@Html.DisplayNameFor(model => model.MonthlyCapacity)</label>
                            <p class="view-data__content">@Html.DisplayFor(model => model.MonthlyCapacity)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <label class="view-data__label form-custom-label">@Html.DisplayNameFor(model => model.isNeedSequence)</label>
                            <p class="view-data__content">@Html.CheckBoxFor(model => model.isNeedSequence, new { @disabled = "disabled" }  )</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-between mt-5 detail-btn">
                    <div class="col-auto">
                        <a href="@Url.Action("Index", "MasterVendor")" class="btn btn-primary mb-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg> &nbsp; Back</a>
                    </div>
                    <div class="col-auto">
                        <a href="@Url.Action("Edit", "MasterVendor", new { id = Model.ID })" class="btn btn-primary mb-3 detail-btn-edit"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2"><polygon points="16 3 21 8 8 21 3 21 3 16 16 3"></polygon></svg> &nbsp; Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>