@using PagedList;
@using PagedList.Mvc;

@model IPagedList<POTrackingV2.Models.UserVendor>

@{
    ViewBag.Title = "List User Vendor";
}

@section styles {
    <link href="~/Content/um-style.css" rel="stylesheet" />
}

<div class="um">
    <h2 class="form-sub-header">
        List User Vendor
    </h2>
    <div class="filter-row">
        @using (Html.BeginForm("ViewUserVendor", "MasterVendor", null, FormMethod.Get, new { @class = "filter-form-container form-inline" }))
        {
            <div class="form-group mr-4">
                <input name="search" type="text" class="form-control form-control-lg filter-search with-icon" placeholder="Search" value="@ViewBag.CurrentSearchString" />
                <i class="fas fa-search form-type-icon hint"></i>
            </div>

            <button type="submit" class="btn btn-info mr-3">Find</button>
            @Html.ActionLink("Clear", "ViewUserVendor", new { role = Request.QueryString["role"] }, new { @class = "btn btn-info mr-3" })
        }
        <div class="form-group mt-4">
            @Html.ActionLink("Create New", "CreateUserVendor", null, new { @class = "btn btn-info" })

        </div>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Username)
            </th>
            <th>
                Role Type
            </th>
            <th>
                Vendor
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().IsActive)
            </th>

            <th></th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="12">No rows match search criteria</td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr style="background-color:white;">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VendorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        <input type="text" value="@item.ID" class="hide" name="userVendorID" />

                        <span>
                            <input type="text" value="@item.Username" class="hide" name="userVendorName" />
                            <a class="col-xs-2 resetUserVendor" href='@Url.Action("ResetPasswordUserVendor", "MasterVendor", new { ID = item.ID })' alt="Details">
                                <i class="fas fa-key"></i>
                            </a>
                        </span>
                        <span>
                            <a class="col-xs-2" href='@Url.Action("EditUserVendor", "MasterVendor", new { ID = item.ID })' alt="Details" style="color:green;">
                                <i class="fa fa-edit fa-lg"></i>
                            </a>
                        </span>
                        <span>
                            <a class="col-xs-2 deleteUserVendor" alt="Details" style="color:red;">
                                <i class="fa fa-trash fa-lg"></i>
                            </a>
                        </span>
                    </td>
                </tr>
            }
        }

    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("ViewUserVendor", new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] }),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            var userVendorID = 0;

            $(".deleteUserVendor").click(function () {
                userVendorID = $(this).parent().prev().prev().prev().val();
                if (confirm("Are you sure want to delete this user vendor?")) {
                    window.location.href = "@Url.Action("DeleteUserVendor", "MasterVendor")?id=" + userVendorID;
                };
                return false;
            });

            $(".resetUserVendor").click(function () {
                 userVendorID = $(this).parent().prev().val();
                if (confirm("Are you sure want to reset password this user vendor?")) {
                    window.location.href = "@Url.Action("ResetPasswordUserVendor", "MasterVendor")?id=" + userVendorID;
                };
                return false;
            });
        });
    </script>
}
